In [6]:
# import the test_train_rsme data
import pandas as pd
data = pd.read_csv('../../logs/normalization_fix/new/train_test_rmse.csv', header=0)

In [7]:
data.describe()

,num_processes,num_iterations,max_iterations,batch_size,learning_rate,train_rmse,test_rmse,train_time_max,train_time_avg,test_time_max,...,relu,0.0001,0.458579,0.442665,19.913539,19.913539.1,3.472444,3.472444.1,23.385984,23.385984.1
count,72.000000,72.000000,72.0,72.000000,72.000000,71.000000,71.000000,72.000000,72.000000,72.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.458333,68746.888889,1000000.0,170.222222,0.000055,0.672985,0.711344,22.334271,22.334241,4.533315,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,0.501757,128679.481970,0.0,153.120980,0.000045,0.221881,0.213148,36.506708,36.506707,3.047300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,948.000000,1000000.0,32.000000,0.000010,0.290728,0.389167,1.725803,1.725709,2.152823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.000000,10355.000000,1000000.0,64.000000,0.000010,0.483752,0.520741,6.948701,6.948650,3.182536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.000000,35686.500000,1000000.0,128.000000,0.000055,0.664078,0.718854,12.795858,12.795838,3.750317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.000000,79201.000000,1000000.0,256.000000,0.000100,0.848733,0.882435,26.448144,26.448144,4.496911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.000000,1000000.000000,1000000.0,512.000000,0.000100,1.286474,1.329257,288.003886,288.003820,17.840707,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# plot test vs train rmse for different models
import seaborn as sns
import matplotlib.pyplot as plt
sns.scatterplot(data=data, x='train_rmse', y='test_rmse', hue='activation', style='layers', s=100)
plt.xscale('log')
plt.yscale('log')
plt.xlabel('Train RMSE')
plt.ylabel('Test RMSE')
plt.title('Train vs Test RMSE for Different Models')
plt.legend(title='Activation Function / Layers', bbox_to_anchor=(1.05, 1), loc='upper left')
plt.grid(True, which="both", ls="--", linewidth=0.5)
plt.tight_layout()
plt.show()

ModuleNotFoundError: No module named 'seaborn'